.country {
    /* fill: #FFFF00; */
}
.country:hover {
    fill: #FF0000 !important;
    cursor: pointer;
}

.hover {
    fill: #FFFFFF;
    cursor: pointer;
}

.region:hover {
    /* fill: #FF0000; */
    /* cursor: pointer; */
}

.stadium:hover {
    /* fill: #FFFFFF;
    cursor: pointer; */
}

/* .svg-background {
    background: lightgrey;
} */

/* .svg-background:hover {
    background: #FF0000;
    cursor: pointer;
} */
/* svg:not(.land) {
    background: #FF0000;
    cursor: pointer;
} */

.btn {
    padding: .6em;
    border-radius: .4em;
    background: #325bad;
    border: none;
    color: #FFFFFF;
    margin: .3em;
}

.btn:hover {
    cursor: pointer;
    background: #003399;
}

.btn.active {
    background: #003399;
}

#tooltip {
    width: 400px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #FFF;
    border: 2px solid green;
    border-radius: 6px;
    position: absolute;
    /* top: 100px; */
    /* right: 100px; */
    display: none;
}